/* Estilos para o alerta de primeiro acesso */
.first-access-alert-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.first-access-alert-container.show {
    opacity: 1;
    visibility: visible;
}

.first-access-alert-content {
    background-color: white;
    color: #333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 80%;
    font-family: "Archivo", sans-serif;
    font-size: 2em; /* Grande */
    position: relative;
}

.first-access-alert-content p {
    margin-bottom: 20px;
}

.close-alert-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: #666;
}

.close-alert-btn:hover {
    color: #333;
}

/* Estilo para texto de aviso/lembrete */
.warning-text {
    color: #c94c4c; /* Vermelho mais escuro */
    font-weight: bold;
    text-transform: uppercase;
}

.first-access-alert-content p a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #333;
    text-decoration: none;
    font-size: 0.8em;
    transition: color 0.3s ease;
}

.first-access-alert-content p a:hover {
    color: #007bff;
}

.social-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.first-access-alert-content p a:hover .social-icon {
    transform: scale(1.1);
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .first-access-alert-content {
        font-size: 1.5em;
        padding: 30px;
        max-width: 90%;
    }

    .close-alert-btn {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .first-access-alert-content {
        font-size: 1.2em;
        padding: 20px;
        max-width: 95%;
    }

    .close-alert-btn {
        font-size: 1em;
        top: 10px;
        right: 10px;
    }
}
